@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@0,500;1,600&family=Roboto:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

html{
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  overflow-x: hidden; 
}

/*menu*/

.content{
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  padding-left: 30rem;
}

.logo{
  width: 240px;
  height: auto;
  cursor: pointer;
}

.logo img{
  width: 100%;
  height: 100%;
}

.content .list-menu{
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .list-menu li a{
  padding: 3rem 1rem 2rem 1rem;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 200ms ease-in;
}

.content .list-menu li a:hover{
  background-color: rgb(19, 19, 19);
  border-bottom: 4px solid red;
  color: red;
}

/*First Section*/

.first-section{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.253),rgba(0, 0, 0, 0.815)),url(img/gr-corolla-background.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.first-section .main-content{
  background-color: #EFEFEF;
  border-radius: 1.4rem;
  width: 95vw;
  height: 80vh;
  margin-bottom: 6rem;
}

.first-section h1{
  color: rgb(58, 58, 58);
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgba(204, 204, 204, 0.253);
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  border-radius: 1rem;
  transition: all 400ms ease-in;
  cursor: pointer;
}

.card:hover{
  background-color: rgb(255, 255, 255);
  border-radius: 3rem;
  color: rgb(194, 32, 32);
}

.cards{
  display: flex;
  flex-direction: row;
  margin-top: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card img{
  width: 85%;
  margin-top: 2rem;
}

.card .brand{
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.card .model{
  font-size: 2rem;
  text-transform: uppercase;
}

.specs{
  margin-top: 0.6rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-left: 6rem;
  display: flex;
  justify-content: space-between;
}

.specs li{
  font-size: 1.4rem;
  margin-top: 0.3rem;
  padding: 1rem 4rem 1rem 0rem;
}

.card .price{
  font-size: 2.8rem;
  margin-bottom: 1.2rem;
}

@media (max-width: 1200px) {

}